# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/
logs/*.log

# Env
.env
.env.local

# IDE / OS
.idea/
.vscode/
.DS_Store

# Tests
.coverage
htmlcov/
.pytest_cache/
